
.width_card {
  position: relative;
  margin-bottom: 3rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/*  global classes */


/* Menu */
.menu {
  padding: 2rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_all_option{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: blueviolet;
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.section-center {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

.sort_news_by{
  margin-left: 46%;
  color: brown;
}

.filters_heading{
  font-weight: 700;
  color: brown;
  padding-left: 10px;
}

  .dropdown_filter{   
    float: right;
    width: 7rem;
    background: #fff;
    color: black;
  }

  .dropdown_filter:focus{   
    background: #fff;
    color: black
    }

    .dropdown_filter:hover{
      background: #fff;
      color: black
    }

    .btn:focus {
      outline: 0;
      box-shadow: 0 0 0 .25rem #fff;
  }

  .page-item{
    outline: 0;
    box-shadow: 0 0 0 .25rem #fff;
  }


.main_heading{
      color: black;
      font-weight: 600;
      margin-left: 5rem;
  }  

  .author_style{
color: black;
  }

  .date_design{
    color: black;
  }

  .number_on_page{
    color: #000;
  }

  .number_on_page:focus{
    color: #000;
    border: 2px solid black;
  }
  .number_on_page:hover{
    color: #000;
  }





.category_newsitem{
  position: absolute;
  top: 0px;
  background: #D9E7F4;
  color: black;
  padding: 2px 24px;
  opacity: 0.7;
}

.gallery_button {
  background-color: #fff !important;
  border-color: black !important;
  color: black !important;
  cursor: default !important;
  margin-left: 59px;
}

.gallery_button:hover {
  background-color: #fff !important;
  border-color: black !important;
  color: black !important;
  cursor: default !important;
}

.gallery_button:hover {
  background-color: #fff !important;
  border-color: black !important;
  color: black !important;
  cursor: default !important;
}

.arranging_galleybar{
  margin: 10px 0px;
}

.container_adjust{
  margin-left: 1.5rem;
}

.img_height{
  height: 10rem;
}